body {
    font-family: Arial;
    background: #f4eaff;
    text-align: center;
    padding: 40px;
}

input, textarea {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

textarea {
    height: 150px;
}

button {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
}